extends layout 

block content 

	H1 Contact Us
		form(action='/user/signup' method= "POST"  style="display:flex; flex-direction:column; margin:10px")
			<input type="text" name="name" placeholder="Name">
			<input type="email"  name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="passwordConfirm" placeholder="Confirm Password">
			button.btn.btn-primary(type='submit') Submit